<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      table {
        border: 2px solid #333;
      }

      th, td {
        border: 1px solid #949494;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <% price_total = 0 %>
    <h1>ご注文いただきありがとうございます</h1>
    <h3>hie's shop</h3>

    <h3>購入者情報</h3>
    <table>
      <tbody>
        <tr>
          <th>性</th>
          <td><%= @purchase.first_name %></td>
        </tr>
        <tr>
          <th>名</th>
          <td><%= @purchase.last_name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @purchase.mail %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @purchase.address %></td>
        </tr>
        <tr>
          <th>マンション名</th>
          <td><%= @purchase.apart %></td>
        </tr>
        <tr>
          <th>購入日時</th>
          <td><%= @purchase.created_at %></td>
        </tr>
      </tbody>
    </table>

    <div> 
      <h3>購入内容明細</h3>
    </div>

    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>価格</th>
          <th>購入数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase.purchase_ditails.each do |purchase_ditail| %>
          <tr>
            <td><%= purchase_ditail.name %></td>
            <td><%= purchase_ditail.price %></td>
            <td><%= purchase_ditail.count %></td>
            <td><%= price_subtotal = purchase_ditail.price * purchase_ditail.count %></td>
          </tr>
          <% price_total += price_subtotal %>
        <% end %>
      </tbody>
    </table>
    <p class="h5">合計：<%= price_total %>円</p>
  </body>


</html>